# L1_9 Aufgaben zur Wiederholung
Wie lauten die erforderlichen SQL-Anweisungen?
Zur inhaltlichen Kontrolle Ihrer Lösungen orientieren Sie sich bitte an den Abbildungen zu
den gewünschten Ausgaben.

Tabelle kinofilme

In [ ]:
%load_ext sql
%sql mysql://schueler:secret@localhost/kino

## A1
Eine Liste aller Filme, die von den Mitarbeitern Schön bzw. Husch
betreut werden, in aufsteigender Reihenfolge des Filmtitels.

|filmtitel|saalbezeichnung|personalname|
|---|---|---|
|Der junge Marx|Gloria 3|Husch|
|Die Schöne und das Biest|Gloria 2|Husch|
|Lion|Gloria 1|Schön|
|Moonlight|Panoptikum|Schön|

In [ ]:
%%sql
SELECT filmtitel, saalbezeichnung, personalname
FROM kinofilme 
WHERE personalname = 'Schön' 
OR personalname = 'Husch' 
ORDER BY filmtitel;

## A2
Eine Liste aller verfügbaren Kinosäle in absteigender Reichenfolge der verfügbaren Plätze.

|saalnr|saalbezeichung|plaetze|
|---|---|---|
|6|Gloria 1|80|
|2|Panoptikum|42|
|7|Gloria 2|40|
|1|Blauer Salon|38|
|3|Cinema|30|
|8|Gloria 3|22|

In [ ]:
%%sql
SELECT saalnr, saalbezeichnung, plaetze 
FROM kinofilme  
GROUP BY saalnr
ORDER BY plaetze DESC;

## A3
Wie hoch sind die Einnahmen, die maximal je Film realisiert werden, wenn alle Plätze belegt sind?

|filmnummer|filmtitel|eintrittspreis|plaetze|Gesamteinnahme_je_Film|
|---|:---|---|---|----|
|145|Die Schöne und das Biest|7.00|40|280.00|
|200|The Boss Baby|8.50|42|357.00|
|205|Life|5.50|38|209.00|
|210|Moonlight|8.90|42|373.80|
|260|Lion|12.00|80|960.00|
|310|Die andere Seite der Hoffnung|11.00|42|462.00|
|311|La la Land|9.50|30|285.00|
|315|Der junge Marx|6.00|22|132.00|
|410|Wilde Maus|5.50|38|209.00|

In [ ]:
%%sql
SELECT filmnummer, filmtitel , eintrittspreis, plaetze, eintrittspreis * plaetze AS Gesamteinnnahme_je_Film 
FROM kinofilme;

## A4
Wie hoch sind die Einnahmen für alle Filme,
wenn alle Plätze belegt werden?

|Filmanzahl|Gesamteinnahmen_aller_Filme|
|----|-----|
|9|3267.80|

In [ ]:
%%sql
SELECT COUNT(*) AS Filmanzahl,SUM(eintrittspreis * plaetze) AS Gesamteinnnahme_aller_Filme 
FROM kinofilme;

## A5
Wie teuer sind die Eintrittspreise der Filme
durchschnittlich? Preisangabe auf 2 Nachkommastellen begrenzt!

|Durchschnittspreis|
|----|
|8.21|

In [ ]:
%%sql
SELECT FORMAT(AVG(eintrittspreis),2) AS Durchschnittspreis
FROM kinofilme;

## A6
Welche Filme im Saal 2 sind teurer als 9 Euro?

|filmnummer|filmtitel|eintrittspreis|saalnr|
|---|----|---|---|
|310|Die andere Seite der Hoffnung|11.00|2|

In [ ]:
%%sql
SELECT filmnummer, filmtitel, eintrittspreis, saalnr 
FROM kinofilme 
WHERE saalnr = 2 
AND eintrittspreis > 9;

## A7
Wie viel Plätze hat der kleinste Raum?

|saalnr|saalbezeichung|kleinster_Raum|
|---|---|---|
|7|Gloria 2|22|

In [ ]:
%%sql
SELECT saalnr, saalbezeichnung, min(plaetze) AS kleinster_Raum 
FROM kinofilme;

## A8 
Eine Liste mit aller Mitarbeiter und die Anzahl der von ihnen zu betreuenden Räume.

|personalname|zu_betreuende_Raeume|
|----|----|
|Heidenei|1|
|Husch|2|
|Kurz|1|
|Schön|2|
|Schwarz|2|
|Spät|1|

In [ ]:
%%sql
SELECT personalname, COUNT(*) AS  zu_betreuende_Raeume 
FROM kinofilme 
GROUP BY personalname;