# L2_2.3 	Datenbankabfragen über zwei Tabellen  –  Aufgaben

![Modell](https://sylvialange.de/bilder/modellfahrschule2.png)

## Achtung: Zu Beginn die Verbindung zur Datenbank herstellen - Strg-Enter in der folgenden Zelle

In [ ]:
%load_ext sql
%sql mysql://schueler:k7tes28gcz4m46@localhost/fahrschule2

## A1
Alle Fahrschüler sollen mit Vorname, Nachname, Straße, Hausnummer, Postleitzahl und Ort aufgelistet werden.

In [ ]:
%%sql
### BEGIN SOLUTION
SELECT vorname, nachname, strasse, hausnr, plz, ort 
FROM fahrschueler, orte
WHERE fahrschueler.ortnr = orte.ortnr;
### END SOLUTION

## A2
Alle Fahrschüler aus Schorndorf sollen mit Vorname, Nachname, Postleitzahl und Ort aufgelistet werden.

In [ ]:
%%sql
### BEGIN SOLUTION
SELECT vorname, nachname, plz, ort 
FROM fahrschueler, orte
WHERE fahrschueler.ortnr = orte.ortnr
AND ort = 'Schorndorf';
### END SOLUTION

## A3
Alle Fahrschüler aus Schorndorf und Welzheim sollen mit Vorname, Nachname, Postleitzahl und Ort aufgelistet werden.

In [ ]:
%%sql
### BEGIN SOLUTION
SELECT vorname, nachname, plz, ort 
FROM fahrschueler, orte
WHERE fahrschueler.ortnr = orte.ortnr
AND (ort = 'Schorndorf'
OR ort = 'Welzheim');
### END SOLUTION

## A4
Mit Hilfe einer SQL-Abfrage soll ermittelt werden, wie viele Fahrschüler aus den verschiedenen Orten stammen.

In [ ]:
%%sql
### BEGIN SOLUTION
SELECT ort, count(*) AS Anzahl_Fahrschueler
FROM fahrschueler, orte
WHERE fahrschueler.ortnr = orte.ortnr
GROUP BY ort;
### END SOLUTION

## A5
Es sollen alle Orte aufgelistet werden, aus denen mehr als 2 Fahrschüler stammen.

Sollte A5 schwierig sein, schau nochmal in das Infoblatt L 1 5 8 und lies dort über HAVING.

In [ ]:
%%sql
### BEGIN SOLUTION
SELECT ort, count(*) AS Anzahl_Fahrschueler
FROM fahrschueler, orte
WHERE fahrschueler.ortnr = orte.ortnr
GROUP BY ort
HAVING Anzahl_Fahrschüler > 2;
### END SOLUTION