# L3_2.1 Datenbankabfragen Fahrschule - Aufgaben

Heiner Blechle liegt inzwischen die erweiterte Datenbank fahrschule vor, in der auch bereits
Daten erfasst sind.

Die Datenbank weist folgende Struktur auf:

![Modell](https://sylvialange.de/bilder/modellfahrschule5.png)

Sie bekommen von Heiner Blechle den Auftrag, die nachfolgenden Auswertungen vorzunehmen.
Formulieren Sie die dazu notwendigen SQL-Befehle.
Zur inhaltlichen Kontrolle Ihrer Lösungen orientieren Sie sich bitte an den Abbildungen zu den
gewünschten Ausgaben.

## Nicht vergessen: SQL-Erweiterung laden und mit Datenbank verbinden:

In [ ]:
%load_ext sql
%sql mysql://schueler:secret@localhost/fahrschule5

## A1
An welchen Tagen wurden vom
Fahrlehrer 'Blechle' Fahrstunden
gegeben?

|datum|vorname|nachname|
|----|----|---|
|2018-10-17|Hakan|Öztürk|
|2018-10-22|Alex|Schmidt|
|2018-10-23|Frederik|Lutz|
|2018-10-23|Dagmar|Deiß|

In [ ]:
%%sql
### BEGIN SOLUTION
select datum, fahrschueler.vorname, fahrschueler.nachname 
from fahrschueler, fahrlehrer, fahrstunden 
where fahrlehrer.fahrlehrernr = fahrstunden.fahrlehrernr
and fahrstunden.schuelernr = fahrschueler.schuelernr
AND fahrlehrer.nachname = 'Blechle';
### END SOLUTION

## A2
Wie Aufgabe 1. Zusätzlich sollen die Kennzeichen der genutzten Fahrzeuge angezeigt werden.

|datum|vorname|nachname|kennzeichen|
|---|---|---|---|
|2018-10-17|Hakan|Öztürk|WN-XY 200|
|2018-10-22|Alex|Schmidt|WN-XY 200|
|2018-10-23|Frederik|Lutz|WN-AB 123|
|2018-10-23|Dagmar|Deiß|WN-AB 123|

In [ ]:
%%sql
### BEGIN SOLUTION
SELECT datum, fahrschueler.vorname, fahrschueler.nachname, kennzeichen
FROM fahrstunden, fahrschueler, fahrlehrer, kfz
WHERE fahrstunden.schuelernr = fahrschueler.schuelernr
AND fahrstunden.fahrlehrernr = fahrlehrer.fahrlehrernr
AND fahrstunden.kfznr = kfz.kfznr
AND fahrlehrer.nachname = 'Blechle';
### END SOLUTION

## A3

An welchen Tagen hat der  Fahrschüler 'Andreas Dressel' wie viele Fahrstunden bei welchem Fahrlehrer erhalten? 

|datum|stundenzahl|Fahrlehrernachname| kennzeichen|
|---|---|---|---|
|2018-10-08|2|Schröder|WN-AB 123|
|2018-11-20|1|Lempke|WN-XY 200|

In [ ]:
%%sql
### BEGIN SOLUTION
SELECT datum, stundenzahl, fahrlehrer.nachname AS Fahrlehrernachname, kennzeichen
FROM fahrstunden, fahrschueler, fahrlehrer, kfz
WHERE fahrstunden.schuelernr = fahrschueler.schuelernr
AND fahrstunden.fahrlehrernr = fahrlehrer.fahrlehrernr
AND fahrstunden.kfznr = kfz.kfznr
AND fahrschueler.nachname = 'Dressel' 
AND fahrschueler.vorname = 'Andreas';
### END SOLUTION

## A4

Wie viele Fahrstunden wurden insgesamt mit den einzelnen Fahrzeugen gegeben?

|kennzeichen|Summe_Fahrstunden|
|---|---|
|WN-XY 200|8|
|WN-AB 123| 9|
|WN-HB 888|8|

In [ ]:
%%sql
### BEGIN SOLUTION
SELECT kennzeichen, SUM(stundenzahl) AS Summe_Fahrstunden
FROM fahrstunden,  kfz
WHERE fahrstunden.kfznr = kfz.kfznr
GROUP BY kfz.kfznr;
### END SOLUTION

## A5

Welche Fahrschüler haben mehr als zwei Fahrstunden erhalten?

|nachname|vorname|Gesamtstundenzahl|
|---|---|---|
|Dressel|Andreas|3|
|Öztürk|Hakan|3|

In [ ]:
%%sql
### BEGIN SOLUTION
SELECT fahrschueler.nachname, fahrschueler.vorname, SUM(stundenzahl) AS Gesamtstundenzahl
FROM fahrstunden,  fahrschueler
WHERE fahrstunden.schuelernr = fahrschueler.schuelernr
GROUP BY fahrschueler.schuelernr
HAVING Gesamtstundenzahl > 2;
### END SOLUTION

## A6

Wie hoch sind die bisherigen Kosten der erhaltenen Fahrstunden von 'Hakan Öztürk'? (1 Fahrstunde kostet 35,00 Euro.)

|nachname|vorname|Kosten|
|---|---|---|
|Öztürk|Hakan|105|

In [ ]:
%%sql
### BEGIN SOLUTION
SELECT fahrschueler.nachname, fahrschueler.vorname, SUM(stundenzahl) * 35 AS Kosten
FROM fahrstunden,  fahrschueler
WHERE fahrstunden.schuelernr = fahrschueler.schuelernr
AND nachname='Öztürk'
AND vorname='Hakan'
GROUP BY fahrschueler.schuelernr;
### END SOLUTION

## A7

Wie viele Fahrstunden wurden insgesamt je Monat durchgeführt?

|Monat|Stundenzahl_je_Monat|
|----|---|
|10|14|
|11|11|

In [ ]:
%%sql
### BEGIN SOLUTION
SELECT MONTH(datum) AS Monat, SUM(stundenzahl) AS Stundenzahl_je_Monat
FROM fahrstunden
GROUP BY MONTH(datum);
### END SOLUTION

## A8

Wie viele Fahrschüler hat 'Heiner Blechle', die in diesem Jahr (2020) ein bestimmtes Lebensalter erreichen?

|Alter_der_Fahrschueler|Anzahl|
|---|---|
|18|2|
|19|5|
|20|5|
|21|1|

In [ ]:
%%sql
### BEGIN SOLUTION
SELECT YEAR(NOW())- YEAR(geburtsdatum) AS Alter_der_Fahrschueler, COUNT(*) AS Anzahl
FROM fahrschueler
GROUP BY Alter_der_Fahrschueler;
### END SOLUTION

## A9

Wie Aufgabe 8. Nur für die Fahrschüler, die in diesem Jahr (2020) älter als 18 Jahre sind.

|Alter_der_Fahrschueler|Anzahl|
|---|---|
|19|5|
|20|5|
|21|1|

In [ ]:
%%sql
### BEGIN SOLUTION
SELECT YEAR(NOW())- YEAR(geburtsdatum) AS Alter_der_Fahrschueler, COUNT(*) AS Anzahl
FROM fahrschueler
GROUP BY Alter_der_Fahrschueler
HAVING Alter_der_Fahrschueler> 18;
### END SOLUTION

## A10

Wie hoch ist das durchschnittliche Gehalt der Fahrlehrer?

|durchschnittliches_Gehalt|
|---|
|2733.33|

In [ ]:
%%sql
### BEGIN SOLUTION
SELECT AVG(gehalt) AS durchschnittliches_Gehalt
FROM fahrlehrer;
### END SOLUTION