# L3_2.2 Datenbankabfragen Fahrradvermietung

Der Fahrradvermietung 'Rent A Bike e.K.', Meersburg liegt inzwischen eine weiterentwickelte
Datenbank 'fahrradvermietung' vor, die folgende Struktur aufweist:

![Modell](https://sylvialange.de/bilder/modellfahrrad.png)

Sie bekommen den Auftrag, die nachfolgenden Auswertungen vorzunehmen.
Formulieren Sie die dazu notwendigen SQL-Befehle.
Zur inhaltlichen Kontrolle Ihrer Lösungen orientieren Sie sich bitte an den Abbildungen zu den
gewünschten Ausgaben.

## Nicht vergessen: SQL-Erweiterung laden und mit Datenbank verbinden:

In [ ]:
%load_ext sql
%sql mysql://schueler:secret@localhost/fahrradvermietung7

## A1
Welches Fahrrad wurde als erstes vermietet? (vermietnr 1)

<table>
    <tr>
        <th>fahrradnr</th>
        <th>rahmennr</th>
    </tr>
    <tr>
        <td>13</td>
        <td>4590/H2</td>
    </tr>
</table>

In [ ]:
%%sql
SELECT fahrraeder.fahrradnr, rahmennr
FROM fahrraeder, vermietungen
where fahrraeder.fahrradnr = vermietungen.fahrradnr
and vermietnr =1;

## A2
Wie Aufgabe 1.
Zusätzlich soll die Modellbezeichnung des Fahrrads
angezeigt werden.

<table>
    <tr>
        <th>fahrradnr</th>
        <th>rahmennr</th>
        <th>bezeichnung</th>
    </tr>
    <tr>
        <td>13</td>
        <td>4590/H2</td>
        <td>Comus Einrad</td>
    </tr>
</table>

In [ ]:
%%sql
SELECT fahrraeder.fahrradnr, rahmennr, bezeichnung
FROM fahrraeder, vermietungen, modelle
WHERE fahrraeder.fahrradnr = vermietungen.fahrradnr
AND fahrraeder.modellnr = modelle.modellnr
AND vermietnr =1;

## A3

Wie Aufgabe 2. Zusätzlich sollen der Kunde
und dessen Wohnort angezeigt werden.
<table>
    <tr>
        <th>fahrradnr</th>
        <th>rahmennr</th>
        <th>bezeichnung</th>
        <th>vorname</th>
        <th>nachname</th>
        <th>ort</th>
    </tr>
    <tr>
        <td>13</td>
        <td>4590/H2</td>
        <td>Comus Einrad</td>
        <td>Heinrich</td>
        <td>Schneider</td>
        <td>Bremen</td>
    </tr>
</table>

In [ ]:
%%sql
SELECT fahrraeder.fahrradnr, rahmennr, bezeichnung, vorname, nachname, ort
FROM fahrraeder, vermietungen, modelle, kunden, orte
WHERE fahrraeder.fahrradnr = vermietungen.fahrradnr
AND vermietungen.kundennr = kunden.kundennr
AND kunden.ortnr = orte.ortnr
AND fahrraeder.modellnr = modelle.modellnr
AND vermietnr =1;

## A4

Wie viele Tage wurde welches Fahrrad in der
100ten Vermietung vermietet? Beachten Sie die Ausführungen zur Funktion
DATEDIFF(). (Siehe Befehlssammlung)
<table>
    <tr>
        <th>fahrradnr</th>
        <th>bezeichnung</th>
        <th>Mietdauer</th>
        <th>tagesmietpreis</th>
    </tr>
    <tr>
        <td>11</td>
        <td>Bulls Sharptail 2</td>
        <td>4</td>
        <td>21.0</td>
    </tr>
</table>

In [ ]:
%%sql
SELECT fahrraeder.fahrradnr, bezeichnung, DATEDIFF(bis, von) AS Mietdauer,
tagesmietpreis
FROM fahrraeder, vermietungen, modelle
WHERE fahrraeder.fahrradnr = vermietungen.fahrradnr
AND fahrraeder.modellnr = modelle.modellnr
AND vermietnr =100;

## A5

Wie teuer war die letzte Vermietung? (vermietnr '133')

<table>
    <tr>
        <th>fahrradnr</th>
        <th>bezeichnung</th>
        <th>Mietkosten</th>
    </tr>
    <tr>
        <td>8</td>
        <td>Scale 70</td>
        <td>132.3</td>
    </tr>
</table>

In [ ]:
%%sql
SELECT fahrraeder.fahrradnr, bezeichnung, DATEDIFF(bis, von) * tagesmietpreis AS
Mietkosten
FROM fahrraeder, vermietungen, modelle
WHERE fahrraeder.fahrradnr = vermietungen.fahrradnr
AND fahrraeder.modellnr = modelle.modellnr
AND vermietnr =133;

## A6

Wie hoch war der Gesamtumsatz aller Vermietungen?

<table>
    <tr>
        <th>Gesamtumsatz</th>
    </tr>
    <tr>
        <td>9,487.80</td>
    </tr>
</table>

In [ ]:
%%sql
SELECT FORMAT(SUM(DATEDIFF(bis, von) * tagesmietpreis),2) AS Gesamtumsatz
FROM fahrraeder, vermietungen, modelle
WHERE fahrraeder.fahrradnr = vermietungen.fahrradnr
AND fahrraeder.modellnr = modelle.modellnr;

## A7

Für wie viele Tage wurden die Fahrräder der einzelnen Vermietungen vermietet?
Die Liste soll nach der Mietdauer absteigend geordnet sein.

<table>
    <tr>
        <th>vermietnr</th>
        <th>von</th>
        <th>bis</th>
        <th>Mietdauer</th>
    </tr>
    <tr>
        <td>103</td>
        <td>2016-08-09</td>
        <td>2016-08-19</td>
        <td>10</td>
    </tr>
    <tr>
        <td>104</td>
        <td>2016-08-11</td>
        <td>2016-08-21</td>
        <td>10</td>
    </tr>
    <tr>
        <td>38</td>
        <td>2016-06-01</td>
        <td>2016-06-10</td>
        <td>9</td>
    </tr>
  </table>
... 132 Zeilen

In [ ]:
%%sql
SELECT vermietnr, von, bis, DATEDIFF(bis, von) AS Mietdauer
FROM vermietungen
ORDER BY Mietdauer DESC;

## A8

Wie hoch ist die durchschnittliche Mietdauer aller Vermietungen?

<table>
    <tr>
        <th>durchschnittliche_Mietdauer</th>
    </tr>
    <tr>
        <td>4.5682</td>
    </tr>
</table>

In [ ]:
%%sql
SELECT AVG(DATEDIFF(bis, von)) AS durchschnittliche_Mietdauer
FROM vermietungen;

## A9

An wie vielen Tagen wurden die Fahrräder insgesamt vermietet?

<table>
    <tr>
        <th>Gesamte_Mietdauer_aller_Fahrraeder</th>
    </tr>
    <tr>
        <td>603</td>
    </tr>
</table>

In [ ]:
%%sql
SELECT SUM(DATEDIFF(bis, von)) AS Gesamte_Mietdauer_aller_Fahrraeder
FROM vermietungen;

## A10

Welche Fahrräder haben eine gesamte Mietdauer von mehr als 40 Tagen?

<table>
    <tr>
        <th>fahrradnr</th>
        <th>Gesamte_Mietdauer_aller_Fahrraeder</th>
    </tr>
    <tr>
        <td>1</td>
        <td>45</td>
    </tr>
    <tr>
        <td>3</td>
        <td>58</td>
    </tr>
    <tr>
        <td>5</td>
        <td>61</td>
    </tr>
    <tr>
        <td>7</td>
        <td>42</td>
    </tr>
    <tr>
        <td>8</td>
        <td>49</td>
    </tr>
    <tr>
        <td>11</td>
        <td>45</td>
    </tr>
</table>

In [ ]:
%%sql
SELECT fahrradnr, SUM(DATEDIFF(bis, von)) AS Gesamte_Mietdauer_aller_Fahrraeder
FROM vermietungen
GROUP BY fahrradnr
HAVING Gesamte_Mietdauer_aller_Fahrraeder > 40;

## A11
Welche Kunden haben mehr als 30 Miettage
insgesamt? Die Liste soll nach Mietdauer absteigend
sortiert sein.

<table>
    <tr>
        <th>vorname</th>
        <th>nachname</th>
        <th>Gesamte_Miettage_je_Kunde</th>
    </tr>
    <tr>
        <td>Tina</td>
        <td>Kaufmann</td>
        <td>70</td>
    </tr>
    <tr>
        <td>Johann</td>
        <td>Berger</td>
        <td>63</td>
    </tr>
    <tr>
        <td>Franziska</td>
        <td>Schmidt</td>
        <td>44</td>
    </tr>
    <tr>
        <td>Heinrich</td>
        <td>Schneider</td>
        <td>39</td>
    </tr>
    <tr>
        <td>Jennifer</td>
        <td>Böckle </td>
        <td>34</td>
    </tr>
    <tr>
        <td>Franz</td>
        <td>Schlauch</td>
        <td>31</td>
    </tr>
</table>

In [ ]:
%%sql
SELECT vorname, nachname, SUM(DATEDIFF(bis, von)) AS Gesamte_Miettage_je_Kunde
FROM vermietungen, kunden
WHERE vermietungen.kundennr = kunden.kundennr
GROUP BY vorname, nachname
HAVING SUM(DATEDIFF(bis, von)) > 30
ORDER BY Gesamte_Miettage_je_Kunde DESC;

## A12
Welche Kunden haben mehr als 5-mal Fahrräder
gemietet? Die Liste sollabsteigend nach der Anzahl
der Vermietungen sortiert sein, bei gleicher Anzahl
nach der Kundennummer aufsteigend.

<table>
    <tr>
        <th>kundennr</th>
        <th>nachname</th>
        <th>vorname</th>
        <th>Anzahl_der_Vermietungen</th>
    </tr>
    <tr>
        <td>24007</td>
        <td>Berger</td>
        <td>Johann</td>
        <td>13</td>
    </tr>
    <tr>
        <td>24014</td>
        <td>Kaufmann</td>
        <td>Tina</td>
        <td>13</td>
    </tr>
    <tr>
        <td>24003</td>
        <td>Schmidt</td>
        <td>Franziska</td>
        <td>11</td>
    </tr>
    <tr>
        <td>24001</td>
        <td>Schneider</td>
        <td>Heinrich</td>
        <td>9</td>
    </tr>
    <tr>
        <td>24002</td>
        <td>Schlauch</td>
        <td>Franz</td>
        <td>8</td>
    </tr>
    <tr>
        <td>24004</td>
        <td>Böckle </td>
        <td>Jennifer</td>
        <td>8</td>
    </tr>
    <tr>
        <td>24010</td>
        <td>Sautter</td>
        <td>Fritz</td>
        <td>6</td>
    </tr>
    <tr>
        <td>24012</td>
        <td>Schlauch</td>
        <td>Mirco</td>
        <td>6</td>
    </tr>
    <tr>
        <td>24015</td>
        <td>Scholl</td>
        <td>Julia</td>
        <td>6</td>
    </tr>
    <tr>
        <td>24017</td>
        <td>Sautter</td>
        <td>Carola</td>
        <td>6</td>
    </tr>
    <tr>
        <td>24019</td>
        <td>Schlauch</td>
        <td>Memet</td>
        <td>6</td>
    </tr>
</table>

In [ ]:
%%sql
SELECT vermietungen.kundennr, nachname, vorname, 
COUNT(vermietungen.kundennr) AS Anzahl_der_Vermietungen
FROM kunden, vermietungen
WHERE vermietungen.kundennr = kunden.kundennr
GROUP BY vermietungen.kundennr
HAVING Anzahl_der_Vermietungen > 5
ORDER BY Anzahl_der_Vermietungen DESC , kundennr;

## A13
Welche Freiburger Kunden haben mehr als 5-mal
Fahrräder gemietet? 

<table>
    <tr>
        <th>kundennr</th>
        <th>nachname</th>
        <th>vorname</th>
        <th>ort</th>
        <th>strasse</th>
        <th>Anzahl_der_Vermietungen</th>
    </tr>
    <tr>
        <td>24010</td>
        <td>Sautter</td>
        <td>Fritz</td>
        <td>Freiburg</td>
        <td>Karlstr. 23</td>
        <td>6</td>
    </tr>
    <tr>
        <td>24017</td>
        <td>Sautter</td>
        <td>Carola</td>
        <td>Freiburg</td>
        <td>Ringstraße 57</td>
        <td>6</td>
    </tr>
    <tr>
        <td>24014</td>
        <td>Kaufmann</td>
        <td>Tina</td>
        <td>Freiburg</td>
        <td>Niemannsweg 14</td>
        <td>13</td>
    </tr>
</table>

In [ ]:
%%sql
SELECT kunden.kundennr, nachname, vorname, ort, strasse, COUNT(*) AS
Anzahl_der_Vermietungen
FROM kunden, vermietungen, orte
WHERE vermietungen.kundennr = kunden.kundennr
AND kunden.ortnr = orte.ortnr
GROUP BY kunden.kundennr, nachname, ort, strasse
HAVING ort='Freiburg'
AND Anzahl_der_Vermietungen > 5
ORDER BY Anzahl_der_Vermietungen;

## A14
Wie oft wurden die einzelnen Fahrräder vermietet?

<table>
    <tr>
        <th>fahrradnr</th>
        <th>bezeichnung</th>
        <th>herstellername</th>
        <th>Anzahl_der_Vermietungen</th>
    </tr>
    <tr>
        <td>3</td>
        <td>Jugendrad</td>
        <td>Fishbone</td>
        <td>12</td>
    </tr>
    <tr>
        <td>5</td>
        <td>Trekkingrad</td>
        <td>Scott</td>
        <td>12</td>
    </tr>
    <tr>
        <td>8</td>
        <td>Jugendrad</td>
        <td>Scott</td>
        <td>10</td>
    </tr>
    <tr>
        <td>1</td>
        <td>Trekkingrad</td>
        <td>Bianci</td>
        <td>9</td>
    </tr>
    <tr>
        <td>7</td>
        <td>Kinderrad</td>
        <td>Scott</td>
        <td>9</td>
    </tr>
    </table>
... 17 Zeilen

In [ ]:
%%sql
SELECT fahrraeder.fahrradnr, fahrradarten.bezeichnung, herstellername, COUNT(*) AS
Anzahl_der_Vermietungen
FROM vermietungen, fahrraeder, modelle, hersteller, fahrradarten
WHERE vermietungen.fahrradnr = fahrraeder.fahrradnr
AND fahrraeder.modellnr = modelle.modellnr
AND modelle.herstellernr = hersteller.herstellernr
AND fahrradarten.artnr = modelle.artnr
GROUP BY fahrraeder.fahrradnr
ORDER BY Anzahl_der_Vermietungen DESC;

## A15
Wie hoch sind die durchschnittlichen Mietpreise für
die Fahrräder der einzelnen Fahrradarten?

<table>
    <tr>
        <th>bezeichnung</th>
        <th>durchschnittlicher_Mietpreis</th>
    </tr>
    <tr>
        <td>Jugendrad</td>
        <td>18.112499999999997</td>
    </tr>
    <tr>
        <td>Kinderrad</td>
        <td>10.499999999999998</td>
    </tr>
    <tr>
        <td>Mountainbike</td>
        <td>20.475</td>
    </tr>
    <tr>
        <td>Rennrad</td>
        <td>35.7</td>
    </tr>
    <tr>
        <td>Spezialrad</td>
        <td>8.4</td>
    </tr>
    <tr>
        <td>Trekkingrad</td>
        <td>12.809999999999999</td>
    </tr>
</table>

In [ ]:
%%sql
SELECT fahrradarten.bezeichnung, AVG(tagesmietpreis) AS durchschnittlicher_Mietpreis
FROM fahrraeder, modelle, fahrradarten
WHERE fahrraeder.modellnr = modelle.modellnr
AND fahrradarten.artnr = modelle.artnr
GROUP BY fahrradarten.bezeichnung;

## A16
Wie hoch sind die durchschnittlichen Anschaffungskosten der Fahrräder der einzelnen Fahrradarten?

<table>
    <tr>
        <th>bezeichnung</th>
        <th>durchschnittliche_AK</th>
    </tr>
    <tr>
        <td>Jugendrad</td>
        <td>1072.75</td>
    </tr>
    <tr>
        <td>Kinderrad</td>
        <td>363.0</td>
    </tr>
    <tr>
        <td>Mountainbike</td>
        <td>1048.0</td>
    </tr>
    <tr>
        <td>Rennrad</td>
        <td>689.0</td>
    </tr>
    <tr>
        <td>Spezialrad</td>
        <td>87.0</td>
    </tr>
    <tr>
        <td>Trekkingrad</td>
        <td>991.6</td>
    </tr>
</table>

In [ ]:
%%sql
SELECT fahrradarten.bezeichnung, AVG(anschaffungswert) AS durchschnittliche_AK
FROM fahrraeder, modelle, fahrradarten
WHERE fahrraeder.modellnr = modelle.modellnr
AND fahrradarten.artnr = modelle.artnr
GROUP BY fahrradarten.bezeichnung;